/*
.lead {
  
}

.display-1 {
  color: green;
  font-weight: 900;
}

.display-2 {
  color: green;
  font-weight: 500;
}

.my-4 {
  background-color: green;
}

 #center {
    text-align: center;

  }
.ihss {
    background-color: blue;
}
*/